<h1>Here are all the recipes</h1>

  <% @recipes.each_slice(3) do |three_recipes| %>
  <!-- three_recipes is an array -->
    <!-- we want to put all three of them in the same row -->
    <!-- then we want to end that row before the next group of three -->
    <!-- [recipe1,recipe2,recipe3] -->
    <div class="row">
      <% three_recipes.each do |recipe| %>
        <div class="col-md-4">
          <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h2>
          <p><%= recipe.chef %></p>
          <img src="<%= recipe.image %>" width="100">
          <ul>
          <% recipe.ingredients.split(',').each do |ingredient|%>
            <li><%= ingredient %></li>
          <% end %>
          </ul>
          <p><%= recipe.directions %></p>
          <p><%= recipe.mardi_gras_time %> minutes</p>
        </div>
      <% end %>
    </div>
  <% end %>

