<p>This is where the form will go</p>

<%= form_tag '/created_recipe', method: :post do %>
<%= label_tag "putst uffh ere" %>
<%= text_field_tag :form_title %>
<%= label_tag :form_directions %>
<%= text_field_tag :form_directions %>
<%= label_tag :form_chef %>
<%= text_field_tag :form_chef %>
<%= label_tag :form_ingredients %>
<%= text_field_tag :form_ingredients %>
<%= submit_tag %>
<% end %>
